Package: bitcalc
Version: {{VERSION}}
Architecture: all
Maintainer: Nyang'ada Stone Bradley ridddle5050@gmail.com
Priority: optional
Section: utils
Depends: bash (>= 4.0)
Description: Hardware engineering toolkit for binary arithmetic and bitwise visualizations.
